@import "../../../scss/props";

.header {
	background-color: $blue;
	box-sizing: border-box;
	height: $header-height;
	position: relative;
	width: 100%;

	.menu {
		background-image: url("../../../assets/img/menu.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px auto;
		cursor: pointer;
		display: none;
		height: $header-height;
		width: $header-height;
	}

	.logo {
		background-image: url("../../../assets/img/apcl-white.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 120px auto;
		height: $header-height;
		margin-left: $gutter/4;
		width: 120px;
	}

	.paths {
		width: calc(100vw - 120px);
		a{
			box-sizing: border-box;
			color: $white;
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: 100;
			line-height: $header-height;
			padding: 0 $gutter;
			text-transform: uppercase;
			transform: translate(-60px,0);

			&:hover {
				background-color: rgba(20,20,20,0.05);
			}
		}
	}
}

@media (max-width: $phone) {
	.header {
		.menu {
			display: block;
		}
		.logo {
			margin: 0;
		}
		.paths {
			display: none;
		}
	}
}