@import "../../../scss/props";

.header {
	background-color: $blue;
	box-sizing: border-box;
	height: $header-height;
	position: relative;
	width: 100%;

	.menu {
		background-image: url("../../../assets/img/menu.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px auto;
		cursor: pointer;
		display: none;
		height: $header-height;
		width: $header-height;
	}

	.logo {
		background-image: url("../../../assets/img/apcl-white.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 120px auto;
		height: $header-height;
		margin-left: $gutter/4;
		width: 120px;
	}
}

@media (max-width: $phone) {
	.header {
		.menu {
			display: block;
		}
		.logo {
			margin: 0;
		}
	}
}