
// Colors
$white: #f8f8f8;
$black: #2c2c2c;
$blue: #3254a3;
$red: #f15060;
$gray-blue: #1e273d;


// Font
$primary-font:  sans-serif;
$secondary-font: "Roboto", sans-serif;

// Spacing
$gutter: 24px;